<table class="ui very basic unstackable table">
  <thead>
    <tr>
      <th>{{ title }}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; index as i">
      <td>
        <div *ngFor="let line of row.lines">
          {{ fieldName[line.fieldName] }}
        </div>
      </td>
      <td class="align-right">
        <div
          *ngFor="let line of row.lines"
          [ngClass]="setClass(line.fieldName, line.value)"
        >
          {{ line.value | numberFormat: 3 }}
          {{ getSymbol(fieldName[line.fieldName]) }}
        </div>
      </td>
      <td class="align-right">
        <div *ngFor="let line of row.lines; index as j">
          <span *ngIf="isDateShown(line.fieldName)">
            <span *ngIf="!i && !j; else fullDate">
              {{ line.date | date: "HH:mm:ss" }}
            </span>
            <ng-template #fullDate>
              {{ line.date | date: "MM/dd/yyyy" }}
            </ng-template>
          </span>
          &nbsp;
        </div>
      </td>
    </tr>
  </tbody>
</table>
